version: '1'
services:
  presta:
    build: .
    ports:
      - 8180:80
  myDB:
    image: mysql
    ports:
      - 3310:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - myDBvolume:/var/lib/mysql

volumes:
  myDBvolume:
  
