apiVersion: v1
kind: Service
metadata:
  name: php-service
  namespace: presta
spec:
  type: NodePort
  selector:
    app: presta
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30080
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-ingress
  namespace: presta
spec:
  rules:
  - host: my-app.example.com
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: php-service
            port: 
              number: 80
