apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
  namespace: presta
spec:
  storageClassName: mypv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
